<div class="signin-container">
  <h2>Iniciar sesión</h2>

   <div
    class="mensaje"
    [class.visible]="mensaje !== ''"
    [class.exito]="mensajeTipo === 'exito'"
    [class.error]="mensajeTipo === 'error'"
  >
    {{ mensaje }}
  </div>

  <form [formGroup]="formulario" (ngSubmit)="iniciarSesion()">
    <label>Email:</label>
    <input type="email" formControlName="email">
    <br>

    <label>Contraseña:</label>
    <input type="password" formControlName="password">
    <br>

    <button type="submit">Iniciar sesión</button>
  </form>
</div>

