<main class="container">
  <h2>Productos</h2>
  <div class="products">
    <aside class="filters">
      <h4>Filtrar por</h4>

      <div class="filter-group">
        <strong>Categoría</strong><br />
        <label><input type="checkbox" value="Labiales" /> Labiales</label><br />
        <label><input type="checkbox" value="Bases" /> Bases</label><br />
        <label><input type="checkbox" value="Correctores" /> Correctores</label><br />
        <label><input type="checkbox" value="Contornos" /> Contornos</label><br />
        <label><input type="checkbox" value="Rimels" /> Rimels</label><br />
        <label><input type="checkbox" value="Brochas de Maquillaje" /> Brochas de Maquillaje</label><br />
        <label><input type="checkbox" value="Delineadores de ojos" /> Delineadores de ojos</label><br />
        <label><input type="checkbox" value="Polvos" /> Polvos</label>
      </div>

      <div class="filter-group">
        <strong>Precio</strong><br />
        <label>Desde: <input type="number" min="0" /></label><br />
        <label>Hasta: <input type="number" min="0" /></label>
      </div>

      <div class="filter-group">
        <strong>Marca</strong><br />
        <label><input type="checkbox" /> Natura</label><br />
        <label><input type="checkbox" /> Dapop</label><br />
        <label><input type="checkbox" /> Nivea</label><br />
        <label><input type="checkbox" /> Avon</label><br />
        <label><input type="checkbox" /> Maybelline</label>
      </div>

      <div class="filter-group">
        <strong>Ordenar por</strong><br />
        <label><input type="radio" name="orden" /> Precio: menor a mayor</label><br />
        <label><input type="radio" name="orden" /> Precio: mayor a menor</label>
      </div>
    </aside>



    <section class="products-list">
  <div *ngFor="let producto of productos" class="product-card" style="background-color: white;">
    <img [src]="'http://localhost:5000' + producto.imagen" alt="{{ producto.nombre }}" />
    <h3>{{ producto.nombre }}</h3>
    <p>{{ producto.descripcion }}</p>
    <p><strong>$ {{ producto.precio }}</strong></p>
    <button (click)="agregarAlCarrito(producto)" style="background-color: black; color: white; padding: 1em; border-radius: 0.7em;">Agregar al carrito</button>
  </div>
</section>

  </div>
</main>
