<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/" style="font-size: 1.3em;">MAKE UP</a>
  </div>

  <div class="navbar-links">

     <ng-container *ngIf="usuario; else noLogin">
      <span style="color: white;" >Hola, {{ usuario.nombre }}!</span>
      <a (click)="cerrarSesion()" style="cursor: pointer; background-color: white; color: black; padding: 0.5em; border-radius: 0.3em;" >Cerrar sesión</a>
    </ng-container>
    
    <a routerLink="/productos">Productos</a>
    <a routerLink="/carrito">Carrito</a>

    <ng-template #noLogin>
      <a [routerLink]="['/usuarios/signin']">Iniciar Sesión</a>
      <a [routerLink]="['/usuarios/signup']">Registrarse</a>
    </ng-template>
  </div>
</nav>






