.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1rem;
}

.navbar-logo a {
  font-weight: bold;
  text-decoration: none;
  color: #fffdfd;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.navbar-links span {
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.carrito {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.cant-productos {
  position: absolute;
  top: -6px;
  right: -12px;
  background-color: #d63384;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.cerrar-sesion {
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  padding: 0.5em;
  border-radius: 0.3em;
}
