<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/" style="font-size: 1.3em;">MAKE UP</a>
  </div>

  <div class="navbar-links">

    @if (usuario) {
      <span style="color: white;">Hola, {{ usuario.nombre }}!</span>
      <a (click)="cerrarSesion()" class="cerrar-sesion" style="color: black;">Cerrar sesión</a>
    } @else {
      <a routerLink="/usuarios/signin">Iniciar Sesión</a>
      <a routerLink="/usuarios/signup">Registrarse</a>
    }

    <a routerLink="/productos">Productos</a>
    <a routerLink="/carrito" class="carrito"> 🛒Carrito
      @if (cantidadProductos > 0) {
        <span class="cant-productos">{{ cantidadProductos }}</span>
      }
    </a>
    <ng-template #noLogin>
      <a [routerLink]="['/usuarios/signin']">Iniciar Sesión</a>
      <a [routerLink]="['/usuarios/signup']">Registrarse</a>
    </ng-template>
  </div>
</nav>
