<div class="signup-container">
  <h2>Registrarse</h2>

  <form>
    <label>Email:</label>
    <input type="email" formControlName="email">
    <br>

    <label>Contraseña:</label>
    <input type="password" formControlName="password">
   
    <br>

    <label>Nombre:</label>
    <input type="text" formControlName="nombre">
   
    <br>

    <label>Apellido:</label>
    <input type="text" formControlName="apellido">
    
    <br>

    <label>Dirección:</label>
    <input type="text" formControlName="direccion">
    
    
    <br>

    <button type="submit">Registrarme</button>
  </form>
</div>

